body {
    margin: 100px;
    text-align: center;
    align: center;
}

input[type=text], [type=number] {
    width: 20%;
    margin: 8px 0;
    padding: 7px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#r14{
    width: 150px;
    margin-right: 20px;
}
#r8 {
    width: 20%;
    margin: 8px 0;
    padding: 7px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#r12{
    margin-left:13px;
}
button {
    background-color: #4CAF50;
    width: 10%;
    padding: 9px 5px;
    margin: 5px 0;
    cursor: pointer;
    border: none;
    color: #ffffff;
    margin-left: 80px;
}

button:hover {
    opacity: 0.8;
}



#fn, #ln, #fan, #bd, #code, #cn, #ct, #birth, #ct, #r8, #title{
    font-family: 'B Nazanin', sans-serif;
    color: gray;
}
#r5{
    margin-left: 100px;
}

#div_form {
    margin: 0 auto;
}

#em {
    margin-left: 30px;
}

table, th, td {
    border: 1px solid black;
}